.container {
    text-align: center;
    width: 83%;
    display: inline-block;
    vertical-align: top;
}



label {
    float: left;
    width: 60%;
    text-align: right;
}

input {
    text-align: left;
    border:1px solid #234465;
    padding: 1%;
    width: 30%;
    border-radius: 6px;
    color: #234465;
}
